<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form (submit)="onUpdateForm(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        id="title"
        [(ngModel)]="post.title"
        #title="ngModel"
        placeholder="Title"
        required
      />
      <mat-error *ngIf="title.invalid">Enter valid title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        id="text-area"
        matInput
        rows="10"
        name="content"
        id="content"
        [(ngModel)]="post.content"
        #content="ngModel"
        placeholder="Content"
        required
      ></textarea>
      <mat-error *ngIf="content.invalid">Enter valid content</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      id="submitButton"
      [disabled]="postForm.invalid"
    >
      Update Post
    </button>
  </form>
</mat-card>

<!-- End of Forms -->
