$default-margin-pos: auto;
$full-width: 100%;
$half-width: 50%;
$default-cursor-type: pointer;
$default-font-size: medium;
$default-font-weight: 500;
$max-width: 400px;
$min-width: 100px;

.post-card {
  max-width: $max-width;
  margin: 20px;
  cursor: $default-cursor-type;
}

p {
  font-size: $default-font-size;
}

.info-text {
  margin-top: 40px;
  text-align: center;
  color: red;
  font-size: large;
  font-weight: $default-font-weight;
}
