$default-header-color: seagreen;
$default-text-color: black;

.header {
  height: 75px;
  padding: 15px;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
}

mat-toolbar {
  background-color: $default-header-color;
}
.title {
  display: inline;
}

.create-button {
  align-self: end;
  vertical-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $default-text-color;
}

.spacer {
  flex: 1 1 auto;
}
