<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span
    ><a routerLink="posts" [routerLinkActive]="'active'"> JOHN's Diary</a></span
  >
  <span class="spacer"></span>
  <ul>
    <li>
      <a
        mat-stroked-button
        routerLink="create"
        routerLinkActive=""
        id="create-button"
        >Create Post +</a
      >
    </li>
  </ul>
  <span class="example-spacer"></span>
</mat-toolbar>
